$main-color: #593b5a;
$secondary-color: #261654;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$green-color: #00ffaa;
$green-color-hover: #0fe29c;

$light-blue-gradient: linear-gradient(
  45deg,
  rgba(8, 206, 255, 0.75),
  rgba(8, 24, 255, 0.75)
);
$blue-gradient: linear-gradient(
  45deg,
  rgba(20, 105, 241, 0.75),
  rgba(42, 10, 184, 0.75)
);
$purple-gradient: linear-gradient(
  45deg,
  rgba(190, 10, 214, 0.75),
  rgba(68, 0, 255, 0.75)
);
$blue-gradient-solid: linear-gradient(
  45deg,
  rgb(20, 105, 241),
  rgb(42, 10, 184)
);
$light-blue-gradient-solid: radial-gradient(
  circle at top right,
  rgb(0, 78, 255) 0%,
  rgb(0, 212, 255) 100%
);
$light-pink-gradient: linear-gradient(
  45deg,
  rgba(213, 158, 156, 0.5),
  rgba(89, 59, 90, 0.5)
);
$light-pink-gradient-solid: linear-gradient(
  45deg,
  rgb(213, 158, 156),
  rgb(89, 59, 90)
);
$pink-gradient: linear-gradient(
  45deg,
  rgba(213, 158, 156, 0.75),
  rgba(89, 59, 90, 0.75)
);
$dark-pink-gradient: linear-gradient(
  45deg,
  rgba(145, 51, 127, 0.75),
  rgba(40, 24, 86, 0.75)
);
$dark-pink-gradient-solid: linear-gradient(
  45deg,
  rgb(145, 51, 127),
  rgb(40, 24, 86)
);
$pink-secondary-gradient-solid: linear-gradient(
  -20deg,
  #ddd6f3 0%,
  #faaca8 100%,
  #faaca8 100%
);
$pink-third-gradient-solid: linear-gradient(
  -225deg,
  #ff057c 0%,
  #8d0b93 50%,
  #321575 100%
);
