$main-color: #593b5a;
$secondary-color: #261654;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$pure-black: #000;
$pure-red: tomato;
$secondary-color-hover: rgba(38, 22, 84, 0.2);

$purple-gradient: linear-gradient(
  45deg,
  rgba(190, 10, 214, 0.75),
  rgba(68, 0, 255, 0.75)
);
$light-pink-gradient: linear-gradient(
  45deg,
  rgba(213, 158, 156, 0.2),
  rgba(89, 59, 90, 0.2)
);
$light-dark-pink-gradient: linear-gradient(
  45deg,
  rgba(145, 51, 127, 0.5),
  rgba(40, 24, 86, 0.5)
);
$light-pink-gradient-solid: linear-gradient(
  45deg,
  rgb(213, 158, 156),
  rgb(89, 59, 90)
);
$pink-gradient: linear-gradient(
  45deg,
  rgba(213, 158, 156, 0.75),
  rgba(89, 59, 90, 0.75)
);
$dark-pink-gradient: linear-gradient(
  45deg,
  rgba(145, 51, 127, 0.75),
  rgba(40, 24, 86, 0.75)
);
$dark-pink-gradient-solid: linear-gradient(
  45deg,
  rgb(145, 51, 127),
  rgb(40, 24, 86)
);
$pink-secondary-gradient-solid: linear-gradient(
  -20deg,
  #ddd6f3 0%,
  #faaca8 100%,
  #faaca8 100%
);
$pink-third-gradient-solid: linear-gradient(
  -225deg,
  #ff057c 0%,
  #8d0b93 50%,
  #321575 100%
);
