@import "./colors";
@import "./components";
@import "./mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

// NAV
.burger-btn {
  width: 66px;
  height: 66px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
  background: $pure-white;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
  border-bottom-left-radius: 8px;

  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  &:hover {
    .burger-btn__bars::after,
    .burger-btn__bars::before {
      width: 100%;
    }
  }

  &::before {
    background-color: $light-white;
  }

  &__box {
    position: relative;
    width: 40px;
    height: 30px;
  }

  &__bars,
  &__bars::after,
  &__bars::before {
    @include burgerBtn;
  }

  &__bars {
    width: 100%;

    &::after {
      top: 13px;
      width: 60%;
    }

    &::before {
      top: 27px;
      width: 30%;
      transition-delay: 0.1s;
    }
  }
}

.home-btn {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  background: $pure-white;
  //   background-image: $dark-pink-gradient;
  border: 1px solid transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
  //   font-weight: 700;
  color: $dark;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  border-bottom-right-radius: 8px;
  //   text-transform: uppercase;

  &__span {
    font-weight: 700;
    // color: purple;
    color: $pure-red;
    text-transform: uppercase;
  }

  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    // border-radius: 8px;
  }

  &::before {
    background-color: $light-white;
  }
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-image: $light-pink-gradient-solid;
  z-index: 100;

  &--active {
    transform: translateX(0);
  }

  &__item {
    position: relative;
    display: block;
    margin: 0.5em 0;
    padding: 0.5em 2em;
    font-size: 2.8rem;
    color: $pure-white;
    text-decoration: none;
    // text-transform: uppercase;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      transform: scaleY(0);
      background-color: $pure-white;
      transition: transform 0.3s;
      content: "";
    }

    &:hover::before {
      transform: scaleY(1);
    }
  }
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0);
  }
}

.nav-items-animation {
  animation: navItemsAnimation 1s both;
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
  background-color: $dark;
}

// HEADER
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 85vh;
  text-align: center;
  color: $pure-white;
  @include heroImages("../../dist/img/header_3_640.jpg");
  background-attachment: scroll;
  overflow: hidden;

  &__heading {
    padding: 0.2em 0;
    font-family: "Montserrat", cursive;
    font-size: 3.8rem;
    font-weight: 700;
    border-bottom: 2px solid $pure-white;
  }

  &__text {
    font-size: 1.8rem;
    padding: 0.3em 0;
    // color: $dark;
    color: $pure-black;
    font-weight: 400;
    // text-shadow: 0 0 1px $dark;
    text-shadow: 0 0 1px $pure-black;
  }

  &__btn {
    margin-top: 2em;
    padding: 0.8em 1.6em;
    font-size: 1.4rem;
    background: $pure-white;
    border: none;
    border-radius: 8px;
    color: $dark;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &::before {
      background-color: $light-white;
    }
  }
}

// MAIN

// ABOUT SECTION
.about {
  background-color: $light-white;
  overflow: hidden;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
  }

  &__img {
    max-height: 300px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1em;
    box-shadow: 0 0 5px $secondary-color;
  }

  &__title {
    margin-bottom: 1em;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    color: $secondary-color;
  }

  &__text {
    padding-bottom: 1em;
    line-height: 1.5em;
  }
}

// OFFERS SECTION
.offers {
  position: relative;
  overflow: hidden;
  background-image: $light-pink-gradient-solid;

  .section-heading {
    color: $pure-white;
  }

  &__card {
    position: relative;
    margin: 1em 0;
    height: 450px;
    color: $pure-white;
    text-align: center;
    perspective: 1000px;

    &:hover {
      .offers__card-img {
        transform: rotateY(-180deg);
        opacity: 0;
      }
      .offers__card-info {
        transform: rotateY(0);
        opacity: 1;
      }
    }

    &-img {
      padding: 2em;
      height: 100%;
      border-radius: 8px;
      background-size: cover;
      transition: transform 1s, opacity 1s;
      box-shadow: 0 0 5px $secondary-color;

      &--first {
        background-image: $light-pink-gradient,
          url(../../dist/img/ksiega_przychodow.jpg);
      }

      &--second {
        background-image: $light-dark-pink-gradient,
          url(../../dist/img/ksiegowosc.jpg);
      }

      &--third {
        background-image: $light-pink-gradient,
          url(../../dist/img/podatek_vat.jpg);
      }

      &--fourth {
        background-image: $light-dark-pink-gradient,
          url(../../dist/img/kadra_place.jpg);
      }

      &--fifth {
        background-image: $light-pink-gradient, url(../../dist/img/ryczalt.jpg);
      }

      &--sixth {
        background-image: $light-dark-pink-gradient,
          url(../../dist/img/inne.jpg);
      }

      &-title {
        font-size: 2.5rem;
      }

      &-info {
        display: flex;
        position: absolute;
        bottom: 30px;
        right: 30px;
        font-size: 1.8rem;

        img {
          margin-right: 0.3em;
        }

        // i {
        //   margin-right: 0.3em;
        // }
      }
    }

    &-info {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-image: $dark-pink-gradient-solid;
      border-radius: 8px;
      opacity: 0;
      transform: rotateY(180deg);
      transition: transform 1s, opacity 1s;
      box-shadow: 0 0 5px $secondary-color;

      &-title {
        position: absolute;
        left: 50%;
        width: 80%;
        transform: translateX(-50%);
        top: 1.2em;
        font-size: 1.6rem;
      }

      &-list {
        margin: 0 auto;
        padding-top: 1.5em;
        width: 85%;
        list-style: none;

        &-item {
          padding: 1em;
          font-size: 1.2rem;
          border-bottom: 1px solid $light-white;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

// HOWWORK SECTION

.howwork {
  background-color: $light-white;
  overflow: hidden;

  &__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    height: 25em;
    background-image: $dark-pink-gradient-solid;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #2e2e2e;

    &-img {
      margin-top: 1em;
      height: 100px;
      width: 100px;
    }

    &-info {
      padding: 2em;
    }

    &-heading {
      margin-bottom: 0.5em;
      text-align: center;
      font-size: 2rem;
      color: $pure-white;
      text-transform: uppercase;
      padding-bottom: 0.5em;
      border-bottom: 1px solid $pure-white;
    }

    &-text {
      margin-bottom: 0.5em;
      font-size: 1.8rem;
      text-align: center;
      color: $pure-white;
    }
  }
}

// CONTACT SECTION

.contact {
  position: relative;
  overflow: hidden;
  background-image: $light-pink-gradient-solid;

  .section-heading {
    color: $pure-white;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .contact-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 1em;

    &:nth-child(1) {
      background-image: $light-pink-gradient,
        url(../../dist/img/hero_2__640.jpg);
      background-size: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      box-shadow: 5px 5px 10px $dark;
    }

    &:nth-child(2) {
      position: relative;
      background-image: $dark-pink-gradient-solid;
      box-shadow: 5px 5px 10px $dark;
    }

    &:nth-child(3) {
      padding: 0;
      z-index: 10;
    }

    &__title {
      font-size: 2rem;
      text-align: center;
      color: $pure-black;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 0.5em;

      &--form {
        font-size: 2rem;
        text-align: center;
        color: $pure-white;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1em;
      }
    }

    &__box {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 2em;
      background-color: $dark;
      border-radius: 8px;

      &-img {
        width: 30px;
        height: 30px;
        margin: 0 0.5em;
      }

      &-info {
        padding: 0.7em 0;
        font-size: 1.8rem;
        border-radius: 8px;
        color: $dark;
        color: $pure-white;
        text-decoration: none;
      }
    }

    &__form {
      width: 100%;
      height: auto;

      &-input {
        width: 100%;
        height: 4em;
        margin-bottom: 2em;
        border: 1px solid $pure-white;
        border-radius: 8px;
        outline: none;
        padding-left: 5px;
        background: transparent;
        color: $pure-white;
        font-size: 1.4rem;
        font-family: "Montserrat", sans-serif;

        &::placeholder {
          color: $pure-white;
        }
      }

      &-textarea {
        width: 100%;
        height: 10em;
        margin-bottom: 2em;
        border: 1px solid $pure-white;
        border-radius: 8px;
        outline: none;
        padding-top: 5px;
        padding-left: 5px;
        background: transparent;
        color: $pure-white;
        font-size: 1.4rem;
        font-family: "Montserrat", sans-serif;

        &::placeholder {
          color: $pure-white;
        }
      }

      &-btn {
        width: 100%;
        height: 3em;
        border: 1px solid $pure-white;
        border-radius: 8px;
        outline: none;
        background: transparent;
        color: $pure-white;
        font-size: 2rem;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        cursor: pointer;

        &::before {
          background-color: $secondary-color-hover;
        }
      }
    }

    .msg-status {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 50%;
      padding: 30px;
      width: 300px;
      border-radius: 8px;
      font-size: 2rem;
      color: $pure-white;
      transform: translateX(-50%);
    }

    .success {
      display: flex;
      background-color: hsl(143, 83%, 55%);
    }

    .error {
      display: flex;
      background-color: hsl(9, 100%, 64%);
    }

    &__iframe {
      width: 100%;
      height: 350px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      box-shadow: 5px 5px 10px #2e2e2e;
    }
  }
}

// FOOTER SECTION

.footer {
  color: $pure-white;
  background-color: $dark;

  &__text {
    padding: 1.5em;
    text-align: center;
  }

  &__span {
    color: $pure-red;
  }
}

.revealFromLeft {
  opacity: 0;
  filter: blur(10%);
  transform: translateX(-100vw);
  transition: all 1s ease;
}

.revealFromRight {
  opacity: 0;
  filter: blur(10%);
  transform: translateX(100vw);
  transition: all 1s ease;
}

.revealFromDown {
  filter: blur(10%);
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.revealFromLeft.showFromLeft {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.revealFromRight.showFromRight {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.revealFromDown.showFromDown {
  filter: blur(0);
  transform: translateY(0);
  opacity: 1;
}

// COOKIES
.cookies {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: $pure-white;
  background-color: $secondary-color;
  z-index: 1001;
  display: none;

  &__box {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    padding: 1em;

    a {
      color: $pure-red;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        color: red;
      }
    }

    &-btn {
      width: 50%;
      border-radius: 8px;
      padding: 0.8em 1.2em;
      font-size: 1.6rem;
      font-weight: 500;
      background-color: $pure-white;
      border: none;
      cursor: pointer;

      &::before {
        background-color: $light-white;
      }
    }
  }
}

.cookies-paragraph {
  margin-bottom: 1em;
  color: $pure-white;

  &:nth-child(5) {
    margin-bottom: 2em;
  }
}

// =================================
// MEDIA
// =================================

@media (min-width: 576px) {
  .howwork {
    &__option {
      flex-direction: row;
      height: 15em;
      margin: 2em 0;
      width: 100%;

      &-img {
        margin: 2em;
        &--right {
          order: 1;
        }
      }

      &-info {
        padding: 2em;
      }

      &-heading {
        text-align: left;
        font-size: 2.2rem;
        padding-bottom: 0;
        border-bottom: none;

        &--right {
          text-align: right;
        }
      }

      &-text {
        text-align: left;
        font-size: 1.8rem;

        &--right {
          text-align: right;
        }
      }
    }
  }

  .contact {
    .contact-in {
      &__title {
        text-align: left;
      }
    }
  }
}

@media (min-width: 768px) {
  .white-block {
    height: 50px;
    width: 45%;
  }

  .header {
    &__heading {
      font-size: 6.6rem;
    }

    &__text {
      font-size: 2rem;
    }

    &__btn {
      font-size: 1.6rem;
    }
  }

  .about {
    &__box {
      flex-direction: row;
      justify-content: space-between;

      &-text {
        width: 70%;

        &--right {
          text-align: right;
        }
      }

      &-img {
        width: 25%;

        &--right {
          display: flex;
          justify-content: flex-end;
          order: 1;
        }
      }
    }

    &__img {
      margin-bottom: 0;
      max-height: 300px;
    }

    &__title {
      font-size: 2rem;
      text-align: inherit;
    }

    &__text {
      font-size: 1.8rem;
    }
  }

  .offers {
    &__cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__card {
      margin: 1em;
      width: 45%;
    }
  }

  .contact {
    .contact-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .contact-in {
      flex-direction: column;

      &:nth-child(1) {
        flex: 30%;
        border-top-right-radius: 0;
      }

      &:nth-child(2) {
        flex: 45%;
        border-top-right-radius: 8px;
      }

      &:nth-child(3) {
        flex: 25%;
        padding: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  .burger-btn {
    // top: 50px;
    right: 150px;
    border-bottom-right-radius: 8px;
  }

  .home-btn {
    // top: 50px;
    left: 150px;
    border-bottom-left-radius: 8px;
  }

  .header {
    background-image: $light-pink-gradient, url("../img/header_3.jpg");

    &__text {
      font-size: 2.4rem;
    }
  }

  .nav {
    &__item {
      font-size: 3.2rem;
    }
  }

  .about {
    &__box {
      margin: 5em 0;

      &-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5em;
      }
    }
  }

  .cookies {
    &__box {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      gap: 0;

      p {
        width: 50%;
      }

      a {
        width: 18%;
        text-align: center;
      }

      &-btn {
        width: 15%;
      }
    }
  }
}

@media (min-width: 1100px) {
  .offers {
    &__card {
      width: 30%;
    }
  }
}

@media (min-width: 1130px) {
  .contact {
    .contact-in {
      &:nth-child(1) {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      &:nth-child(2) {
        border-top-right-radius: 0;
      }

      &__iframe {
        height: 100%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 0;
      }
    }
  }
}

// @media (min-width: 1197px) {
//   .contact {
//     .contact-in {
//       &:nth-child(1) {
//         border-top-left-radius: 8px;
//         border-bottom-left-radius: 8px;
//       }

//       &:nth-child(2) {
//         border-top-right-radius: 0;
//       }

//       &__iframe {
//         height: 100%;
//         border-top-right-radius: 8px;
//         border-bottom-right-radius: 8px;
//         border-bottom-left-radius: 0;
//       }
//     }
//   }
// }
